*{
    box-sizing: border-box;
    margin: 0vw;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
#logoSVG {
    position: relative;
    max-width: 10vw;
    min-height: 10vh;
    animation: rybkaPlywa 6s infinite linear;
}

#logo{
    font-size: clamp(15px, 3vw, 45px);
    white-space: wrap;
    min-width: clamp(150px, 20vw, 600px);
}

header{
    background-color: rgb(194, 224, 250);
    height: 11vh;
}

header a{
    flex-direction: row;
    gap: clamp(15px, 10vw, 300px);
}

header, a{
    overflow-y: hidden;
}

.navButton{
    width: 25vw;
    height: 10vh;
    font-size: clamp(10px, 2vw, 30px);
}

.navLinks{
    background-color: rgb(176, 215, 248);
    transition: background-color 0.5s linear;
    /*border: 1px solid rgb(101, 178, 255);*/
    box-shadow: inset 0 0 0 1px rgb(101, 178, 255);
}

.actualPage{
    background-color: rgb(124, 185, 238);
}

.links{
    text-decoration: none;
    color: inherit;
}

.navLinks:hover {
    background-color: rgb(136, 180, 224);
    transition: background-color 0.5s linear;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    list-style: none;
    margin: 0;
    padding: 0;
    width: 25vw;
    border-radius: 5px;
}

.dropdown-content li a {
    display: block;
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: #333;
    text-decoration: none;
}

.smallNavButton{
    width: 25vw;
    font-size: clamp(4px, 1vw, 15px);
}

.dropdown-content li a:hover {
    background-color: #f0f0f0;
}

footer{
    display: flex;
    height: 8.7vh;
    align-items: flex-end;
    flex-direction: column;
    background-color: rgb(194, 224, 250);
    padding-bottom: 0.3vh;
}

footer p, footer a{
    font-size: clamp(7px, 0.5vw, 15px);
}

footer p::first-letter{
    font-size: clamp(10px, 1vw, 20px);
}

footer p::first-line{
    color:rgb(0, 124, 248);
}

main{
    min-height: 70vh;
    margin: 3vh auto;
}

.title{
    text-align: center;
    font-size: clamp(18px, 3vw, 36px);
    color: #0074c7;
    margin-bottom: 2vh;
}

.flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width: 600px) {
    nav{
        flex-direction: column;
    }
    .navButton{
        width: 100vw;
        height: 2.5vh;
    }
    .dropdown-content {
        width: 100vw;
        border-radius: 5px;
    }
    .smallNavButton{
        width: 100vw;
        font-size: clamp(6px, 1vw, 15px);
    }
    #logo{
        display: none;
    }
    #logoSVG{
        max-width: clamp(50px ,15vw, 100px);
        animation: none;
    }
}

@media (min-width: 601px) {
    #galeriaButton:hover .dropdown-content {
        display: block;
    }
}

@keyframes rybkaPlywa {
    0%   { transform: translate(0, 0); }
    10%  { transform: translate(1vw, -0.5vh); }
    20%  { transform: translate(2vw, -1vh); }
    30%  { transform: translate(3vw, -0.5vh); }
    40%  { transform: translate(4vw, 0); }
    50%  { transform: translate(5vw, 0.5vh); }
    60%  { transform: translate(6vw, 1vh); }
    70%  { transform: translate(7vw, 0.5vh); }
    80%  { transform: translate(8vw, 0); }
    90%  { transform: translate(9vw, -0.5vh); }
    100% { transform: translate(0, 0); }
}